{% extends 'store/base.html' %}

{% load static %}

{% block content %}

<div class="msg-container">
  <div class="msg-header">
    <div class="msg-profile">
      <img src="helpimg1.png" class="msgimg" />
      <p class="username">User name</p>
    </div>
  </div>
  <div class="chat-page">
    <div class="msg-inbox">
      <div class="chats">
        <div class="msg-page" id="chat-area">
          <div class="recieved-chats">
            <div class="recieved-chats-img">
              <img src="ai_img.png">
            </div>
            <div class="recieved-msg">
              <div class="recieved-msg-inbox">
                <p>
                  Hello! How can I help you?
                </p>
                <span class="time" id="msg-time"></span>
                <script>
                  const timeNow = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
                  //should print the time the message is sent, shouldn't*** update over time.
                  document.getElementById("msg-time").textContent = "sent at: " + timeNow;
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="msg-bottom">
      <div class="input-group">
        <input type="text" class="form-control" id= "chat-input" placeholder="Type your question!" />
        <button class="send-btn" id="send-btn" aria-label="Send">
          <i class="bi bi-send"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'scripts/chatbotScript.js' %}" defer></script>
  {% endblock %}